@charset "utf-8";
/* CSS Document */

/* Text Color */

.text-red {
  color: #b71c1c;
}

.text-white {
  color: #fff;
}

/* p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
} */

.lead {
  text-align: justify;
  font-weight: 400;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand img {
  width: 50%;
  padding: 0;
}

.bg-black {
  background-color: #000a12;
}

.bg-light-black {
  background-color: #263238;
}

.bg-red {
  background-color: #b71c1c;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.margin-top {
  margin-top: 1rem;
}

.nav-link {
  padding: 0.8rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.carousel-item img {
  height: 50%;
}

.sec-img {
  margin: 4% 0;
  height: 80%;
}

.sec-text {
  padding: 8% 4%;
  text-align: center;
}

.test-header {
  padding: 2%;
}

.profile {
  width: 5rem;
  border-radius: 100%;
}

.testimonial {
  color: #fff;
  padding: 2% 20% 5%;
}

.press {
  padding: 3%;
  text-align: center;
}

.press-logo {
  width: 10rem;
  margin-left: 2%;
}

.footer {
  padding: 1rem;
}


/* Breakpoint */
