@charset "utf-8";
/* CSS Document */

/* Text Color */

.text-red {
  color: #b71c1c;
}

.text-white {
  color: #fff;
}

.lead {
  text-align: justify;
}

.navbar-brand img {
  width: 50%;
}

.bg-red {
  background-color: #b71c1c;
}

.carousel-item img {
  height: 50%;
}

.profile {
  width: 5rem;
  border-radius: 100%;
}

.press-logo {
  width: 20%;
}
